<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jgchan.datemypet">

    <!-- Permisos que requiere la aplicacion -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegistroUsuarioActivity"
            android:label="Datos personales" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".VeterinarioActivity"
            android:label="@string/title_activity_veterinario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroCitasActivity"
            android:label="@string/title_activity_registro_citas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroVacunasActivity"
            android:label="@string/title_activity_registro_vacunas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".IngresarActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="Inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerPerfilActivity"
            android:label="Mi perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarPerfilActivity"
            android:label="@string/title_activity_editar_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaMascotasActivity"
            android:label="@string/title_activity_lista_mascotas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adaptadores.verImgMascotaDialog"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
            tools:targetApi="lollipop" />
        <activity
            android:name=".InfoMascotaActivity"
            android:label="@string/title_activity_info_mascota"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrearMascotactivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_crear_mascotactivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Activity de la libreria image cropper para el recortado de imagenes -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:label="Corta la foto"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarMascotaActivity"
            android:label="@string/title_activity_editar_mascota"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>